@inherits LayoutComponentBase

<PageTitle>Flow Chart Visualizer</PageTitle>

<div class="page">
	<main>


		<header>
			<div class="main-heading">
				<h1><span>Flow Chart Visualizer</span></h1>
			</div>  
		</header>


        @Body
        
    </main>
</div>
